<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Chrome">
        <classes>
            <class name="com.TestClass.OpenTestClass">
                <methods>
                    <include name="homePageTitleTest"/>
                    <include name="homePageUrlTest"/>
                    <include name="doSearching"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>